.TSDatasheet-ctrl-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 1;
  > .TSDatasheet-row-scrollbar {
    background-color: red;
  }
  > .TSDatasheet-col-scrollbar {
    background-color: red;
  }
  #TSDatasheet-selector {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid blue;
    display: none;
  }
}
