body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.TSDatasheet {
  width: 100%;
  position: relative;
}

.TSDatasheet-display-layer .blank {
  background-color: #F3F3F3;
}

.TSDatasheet-gridview {
  overflow: hidden;
}

.TSDatasheet-gridview table {
  border-collapse: collapse;
  table-layout: fixed;
}

.TSDatasheet-gridview td {
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
}

/*.TSDatasheet-blank {
  min-width: 45px;
  height: 25px;
  background-color: #F3F3F3;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}

.TSDatasheet-datasheet-content {
  position: absolute;
  left: 45px;
  top: 25px;
  overflow: hidden;
}

.TSDatasheet-datasheet-content table {
  width: inherit;
  border-collapse: collapse;
  table-layout: fixed;
}

.TSDatasheet-datasheet-content table tr td {
  width: 105px;
  height: 25px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
}

.TSDatasheet-header-row-container {
  width: calc(100% - 45px);
  position: absolute;
  left: 45px;
  top: 0;
  overflow: hidden;
  user-select: none;
}

.TSDatasheet-header-row-container table {
  width: inherit;
  table-layout: fixed;
  border-collapse: collapse;
}

.TSDatasheet-header-row-container table tr {
    padding: 0;
}

.TSDatasheet-header-row-container table tr th {
  min-width: 105px;
  height: 25px;
  background-color: #F3F3F3;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #D8D8D8;
  padding: 0;
  box-sizing: border-box;
}

.TSDatasheet-header-row-container .row-header-resizer {
  position: absolute;
  top: 0;
  width: 7px;
  height: 25px;
}

.TSDatasheet-header-row-container .row-header-resizer:hover {
  cursor: ew-resize;
  background-color: #00BBFF;
}

.TSDatasheet-header-col-container {
  width: 45px;
  height: calc(100% - 25px);
  position: absolute;
  left: 0;
  top: 25px;
  overflow: hidden;
  user-select: none;
}

.TSDatasheet-header-col-container table {
  width: inherit;
  border-collapse: collapse;
  table-layout: fixed;
}

.TSDatasheet-header-col-container tr th {
  width: 45px;
  height: 25px;
  background-color: #F3F3F3;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
}*/
