
#TSDatasheet-selector {
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid blue;
  display: none;
  z-index: 2;
  box-sizing: border-box;
  > .autofill {
    position: absolute;
    right: -4px;
    bottom: -4px;
    background-color: blue;
    width: 8px;
    height: 8px;
    cursor: crosshair;
  }
}
